<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <h1>Weather App</h1>
    <form action="/weather" method="post">
        <label for="city">Choose a city:</label>
        <select name="city" id="city">
            <option value="casablanca">Casablanca</option>
            <option value="rabat">Rabat</option>
            <option value="marrakech">Marrakech</option>
            <!-- Ajoutez ici d'autres options pour d'autres villes -->
        </select>
        <button type="submit">Get Weather</button>
    </form>
</body>
</html>
